html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.main-wrapper {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
    "logo header"
    "navbar main";
}
.logo-wrapper{  
  grid-area: logo;

  height: 5vh;
  overflow: auto;
}
.header-wrapper{  
  grid-area: header;

  height: 5vh;
  overflow: auto;
}
.navbar-wrapper {  
  grid-area: navbar;

  height: 95vh;
}
.content-wrapper {
  grid-area: main;

  height: 95vh;
  overflow: auto;
}